<footer class="main-footer">
    <div class="footer-contenedor">
      <div>
        <h4>Asistencia</h4>
        <ul>
          <li> <a href="">Centro de ayuda</a></li>
          <li><a href="">Información de seguridad</a></li>
          <li><a href="">Opiniones de videojuegos</a></li>
          <li><a href="">Nuestra respuesta ante la COVID-19</a></li>
          <li><a href="">Accesibilidad para todos</a></li>
          <li><a href="">¿Problemas con los videojuegos?</a></li>
        </ul>
      </div>
      <div>
        <h4>Comunidad</h4>
        <ul>
          <li> <a href="">Videojuegos.org para emergencias</a></li>
          <li><a href="">Mentiras dichas sobre los videojuegos</a></li>
          <li><a href="">Lucha contra la discriminación en los videjuegos</a></li>
        </ul>
      </div>
      <div>
        <h4>Como ser desarrollador de videojuegos</h4>
        <ul>
          <li> <a href="">Hazte desarrollador de videojuegos</a></li>
          <li><a href="">AirCover para desarrolladores</a></li>
          <li><a href="">Recursos para desarrolladores</a></li>
          <li><a href="">Visita el foro de la comunidad</a></li>
          <li><a href="">Ser un desarrollador responsable</a></li>
        </ul>
      </div>
      <div>
        <h4>Acerca de</h4>
        <ul>
          <li> <a href="">Newsroom</a></li>
          <li><a href="">Descubre las nuevas funciones</a></li>
          <li><a href="">Carta de los fundadores</a></li>
          <li><a href="">Empleo</a></li>
          <li><a href="">Inversores</a></li>
        </ul>
      </div>
    </div>	
</footer>