<h1>Bienvenido a la página web de la empresa Pando S.A.</h1>

<div class="datos">
    <p>Los datos de tu perfil de usuario son:</p>
    <ul>
        <li class="user-info">Usuario: {{username}}</li>
        <li class="user-info">Contraseña: {{contrasenia}}</li>
    </ul>
</div>

<div class="videojuegos">
    <p>Estos son los videojuegos que ya han sido lanzados en nuestra empresa:</p>
    <ul>
        <li class="lista-vdj" *ngFor="let v of videojuegos">
            <ol>{{v.id}}</ol>
            <ol>Título: {{v.titulo}}</ol>
            <ol><img src="{{v.img}}" alt="Imagen Videojuego"></ol>
            <hr><br>
        </li>   
    </ul>
    <p>Puedes acceder a su <b>información</b> pulsando en este botón -> <button class="detalles" (click)="routingProgramatico()">Detalles</button><button routerLink="/menu">Volver a Menú</button></p>
</div>

