<h1>¿Quiénes somos?</h1>
<p>La idea de crear Pando S.A nació en Extremadura en 2017 cuando los miembros fundadores Jorge Pando y Félix de Pablo trabajaban en la productora de videojuegos líder en el mundo Blizzard Entertainment, entonces tomaron la iniciativa de crear su propio estudio.</p>
    
<p>Pando S.A es una empresa desarrolladora de videojuegos con sede en San Sebastián de los Reyes, España. La empresa desarrolla títulos para todas las plataformas, incluido PC y móvil. Está formada actualmente por varios de los antiguos miembros de Rebel Act Studios
</p>

<p>En 2007 desarrollaron Clive Barker's Jericho, un juego de horror creado por el afamado escritor y director Clive Barker, creador de Hellraiser. La compañía también está detrás del desarrollo del videojuego Castlevania: Lords of Shadow, distribuido por Konami , y el cual se dio a conocer en la Games Convention de 2008.1​ En el E3 del 2009 se desveló que este título era un nuevo videojuego de la saga Castlevania.2​ El 8 de octubre de 2010 salió a la venta para PlayStation 3 y Xbox 360.</p>

<span>En 2015, Nintendo Life informó que MercurySteam había trabajado en un prototipo de Metroid para Wii U y 3DS, que luego fue rechazado y posiblemente modificado en un proyecto diferente.3​ Más tarde se reveló que habían preparado una nueva versión de Metroid Fusion. Este lanzamiento fue rechazado, pero debido a que el creador de la serie, Yoshio Sakamoto, quedó impresionado por el lanzamiento y el amor del equipo por Metroid, fueron contratados para colaborar en Metroid: Samus Returns en su lugar.4​</span><br>
<button routerLink="/menu">Volver a Menú</button>

